@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/*===== Nav =====*/

.nav__bar {
    display: flex;
    justify-content: space-between;
    background-color: yellowgreen;
    color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav__logo {
    font-size: 2rem;
    font-family: 'Jua', sans-serif;
    text-shadow: 1px 0 3px rgba(0, 0, 0, 0.5);
}
.nav__logo i {
    margin-right: 5px;
}

.nav__menu {
    display: flex;
    margin: auto 0;
}

.nav__menu li {
    justify-content: space-between;
    margin-right: 30px;
    font-size: 15px;
    text-align: center;
}

.nav__menu li:hover {
    color: rgb(112, 112, 112);
}

.nav__menu li:nth-child(5) {
    margin-right: 0;
}

.nav__icons {
    display: flex;
    margin: auto 0;
}

.nav__icons li {
    margin-right: 15px;
}

.nav__icons li:nth-child(2) {
    margin-right: 0;
}

.nav__toggle {
    margin: auto 0;
    right: 10px;
    display: none;
}

@media screen and (max-width: 768px) {
    
    .nav__bar {
        flex-direction: column;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .nav__menu li {
        padding: 5px;
    }

    .nav__menu {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav__menu li {
        margin: 0;
        
    }

    .nav__menu li:hover {
        background-color: rgb(83, 197, 30);
        color: white;
        border-radius: 5px;
    }

    .nav__icons {
        margin-top: 20px;
        justify-content: center;
        display: none;
    }

    .nav__toggle {
        display: block;
        position: absolute;
        text-align: right;
        top: 30px;
    }

    .nav__menu.active,
    .nav__icons.active {
        display: flex;
    }
}